<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title><%= pageTitle %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/custom/login.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form method="post" action="/login">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            name="email"
            placeholder="name@example.com"
            required
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Sign in
        </button>
        <p class="mt-3 mb-3 text-body-">
          <a class="link-body-emphasis" href="/register"> Not Register?</a>
        </p>
        <p class="mt-5 mb-3 text-body-secondary">mfrtn &copy; 2023</p>
      </form>
    </main>
  </body>
</html>
